.select-widget__container {
    display: block;
    position: relative;
}

.select-widget__display-current {
    display: block;
    border: 1px solid black;
    background-color: white;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.select-widget__dropdown-container {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    z-index: 99999;
}

.select-widget__input-text {
    width: 100%;
    margin-bottom: 0.5rem;
}

.select-widget__results {
    max-height: 10rem;
    overflow-y: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.select-widget__item {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid transparent;
}

.select-widget__item:hover {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid black;
}

.select-widget__group-title {
    font-weight: bold;
}

.select-widget__group-item {
    padding-left: 1rem;
    cursor: pointer;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid transparent;
}

.select-widget__group-item:hover {
    padding-left: 1rem;
    cursor: pointer;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid black;
}